<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Methods and Click Events</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <h1>Methods and Click Events</h1>

    <div id="app">
        <div v-if="showBooks">
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <!-- v-show uses display property to hide / show an element, whereas v-if deletes the element completely from DOM -->
        <div v-show="showBooks">Currently showing books</div>
    </div>

    <script src="script.js"></script>
</body>

</html>